
<input type="text" [(ngModel)]="robot.name">
<input type="text" [(ngModel)]="robot.img">
<input type="text" [(ngModel)]="robot.material">


<p>{{robot.name}}</p>
<img src="{{robot.img}}">
<p>{{robot.material}}</p>

