
<img src="{{imgUrl}}" alt="">
<h1>{{text}}</h1>
<button>{{textButton}}</button>
<p></p>
<p></p>
<img src="{{data.imgUrl}}" alt="">
<h1>{{data.text}}</h1>
<button>{{data.textButton}}</button>
<p></p>
<p></p>