
<table class="c-lego" [ngStyle]="{'background-color' : colorPieza}">
    <tbody>
        <tr *ngFor = "let f of fila">
            <td *ngFor = "let c of columna">
                <!--<span class="c-lego__circle"></span>-->
                <span [ngClass]="{'c-lego__circle': estilo === 'circulo', 'c-lego__cuadrado': estilo === 'cuadrado'}"></span>
            </td>
        </tr>
    </tbody>
</table>