.c-lego{
    padding: 8px;
    border: 1px solid #333333;
    
}
    
.c-lego__circle{
    display: block;
    margin: 8px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid #333333;
}

.c-lego__cuadrado{
    display: block;
    margin: 8px;
    width: 24px;
    height: 24px;
    border: 1px solid #333333;
}

