
<div>
    <div *ngFor = "let item of list" [ngClass] = "{'tacharTexto': item.isDone === false}">
        <input type="checkbox" value = {{item.name}}>
        <span>{{item.name}}</span>
    </div>
</div>


