<!--
<app-button></app-button>




<app-hello-works></app-hello-works>


<app-input-button class="c-input-button"></app-input-button>
<app-input-button class="c-input-button" [text] = "'Cancelar'"></app-input-button>
<app-input-button class="c-input-button" [text] = "'Borrar'"></app-input-button>
<app-input-button class="c-input-button" [text] = "'Editar'"></app-input-button>


<p></p>
<p></p>
<p></p>


<app-card></app-card>
<p></p>
<app-card [text] = "'Animalillos'"></app-card>
<p></p>
<app-card [text] = "'Mi buen perror'" [textButton] = "'Recoger caca'"></app-card>
<p></p>
<app-card [data]= "dataCard1"></app-card>

<section>
    <app-over-age [age] = "25"></app-over-age>
    <app-over-age [age] = "7"></app-over-age>
</section>

<section>
    <app-ng-model></app-ng-model>
</section>

<section>
    <app-ng-for></app-ng-for>
</section>

<section>
    <app-character></app-character>
</section>
<section>
    <div *ngFor="let character of characters; let index=index">
        <app-character-list [character]="character"></app-character-list>
    </div>
</section>

<section>
    <h3>Construye tu lego!!</h3>
    <p>Introduce nº Filas</p>
    <input type = "number" [(ngModel)] = "columna">
    <p>Introduce nº Columnas</p>
    <input type = "number" [(ngModel)] = "fila">
    <p>Introduce el color</p>
    <input type = "text" [(ngModel)] = "colorPieza">
    <p></p>
    
    
    <input type="radio" value="circulo" name="grupoRadio" [(ngModel)]= "estilo">
    <label>Circulo</label>
    
    <input type="radio" value="cuadrado" name="grupoRadio" [(ngModel)]= "estilo">
    <label>Cuadrado</label>
    
    <app-lego [fila] = "fila" [columna] = "columna" [colorPieza] = "colorPieza" [estilo] ="estilo"></app-lego>
</section>
-->


<section>
    <app-to-do-list [list] = "todoList"></app-to-do-list>

    <input type = "text" [(ngModel)] = "nombreItem" placeholder="insertar tarea">
    <button (click)="guardarTarea()">Guardar tarea</button>
    <button (click)="cambiarEstado()">Cambiar estado de la tarea</button>
</section>