
<input type="text" [(ngModel)]= "character.name" placeholder="name">
<input type="text" [(ngModel)]= "character.imgUrl" placeholder="Img">
<input type="text" [(ngModel)]= "character.atack" placeholder="atack">
<input type="text" [(ngModel)]= "character.defense" placeholder="defense">


<div>
    <h2>{{character.name}}</h2>
    <img src="{{character.imgUrl}}">
    <p>Atack: {{character.atack}}</p>
    <p>Defense: {{character.defense}}</p>
</div>
